
body{
   background-color: rgb(201, 203, 209);  
  text-align: center;
  border: 2px solid black;
  padding-bottom: 5px;
  /* margin-top: 2em; */
}

.app{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
   align-items: center; 
 
}

svg > g[class^="raphael-group-mSPsvXGT"] > text{
  display: none;
  /* fill: rgb(38, 42, 51); */
}

.heading{
  background-color: rgb(38, 42, 51); 
  margin: 0px 5px 20px 5px;
}

.recharts-legend-wrapper{
  padding-top: 10px;
  padding-bottom: 30px;
}

.pieheading{
  margin: 0px 5px 5px 0px;
  background-color: rgb(38, 42, 51); 
}

.main{
  margin: 6px 7px 0px 6px;
  background-color: rgb(38, 42, 51); 
}

.newheading{
  margin: 0px 5px 0px 0px;
  background-color: rgb(38, 42, 51); 
}

.lineheading{
  margin: 0px 5px 0px 5px;
  background-color: rgb(38, 42, 51);
  padding-bottom: 10px;
}

.cartheading{
  margin: 0px 5px 0px 0px;
  background-color: rgb(38, 42, 51);
}

.gridheading{
  margin: 0px 5px 0px 5px;
  background-color: rgb(38, 42, 51);
}

.chart-heading{
  color: rgb(17, 17, 17);
  background-color:  rgb(219, 142, 53);
  margin: 0%;
  width: 100%;
  padding-bottom: 10px;
   text-align: center; 
  /* text-decoration: underline; */
}

h1 {
 padding-bottom: 10px;
}

.chart{
  margin: 0px 5px 0px 0px;
  background-color: rgb(38, 42, 51);
}

.wrapper{
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 20px; 
  width: 100%;
  height: 200px;
  align-items: center;
  padding-bottom: 310px;
}

.wrapper-content{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: fit-content;
  overflow: hidden;
  /* gap: 5px;  */
   width: 100%; 
   height: 470px;
   /* padding-bottom: 30px; */
   
}

.mycontent{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: fit-content;
  overflow: hidden;
  /* gap: 5px;  */
   width: 100%; 
  color: aliceblue;
   /* padding-bottom: 30px; */
}

.manage{
  margin: 10px 5px 0px 5px;
  /* padding: 5px 5px 0px 5px; */
  background-color: rgb(38, 42, 51);
}

.mythreats{
  margin: 10px 5px 0px 0px;
  background-color: rgb(38, 42, 51);
}

.change{
  /* text-align: center; */
  color: aliceblue;
}

.manage{
   text-align: left;
   padding-left: 230px;
   color: aliceblue;
}

.threats{
  text-align: center;
}

.service{
 text-align: center;
 color: aliceblue;
}

 /* .linechart{
  background: rgb(99, 90, 90);  
}  */

/* .chart{
  padding-right: 100px;
} */

/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
